body {
	padding: 0;
	margin: 0;
	background: #eef3f6;
}

img {
	border: none;
}

img#logo {
	float: left;
}

section {
	width: 100%;
	background: white;
}

div#container {
	width: 737px;
	margin: 0 auto;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 30px;
	padding-bottom: 23px;
}

div.row {
	width: 737px;
	height: 90px;
	margin-bottom: 15px;
}

div.row div {
	float: left;
	width: 90px;
	height: 90px;
	margin-right: 2px;
}

footer {
	width: 100%;
	height: 100px;
	background-color: #eef3f6;
}

div#logoSection {
	width: 100%;
	height: 46px;
	background: url(../img/split_background.jpg) repeat;
}

div#logoContainer {
	width: 772px;
	margin: 0 auto;
}

.card1 {
	background: url(../img/Amsterdam_front.jpg) 0 0 no-repeat;
}

.card1.flipped{
	background: url(../img/Amsterdam_back.jpg) 0 0 no-repeat;
}

.card2 {
	background: url(../img/Athens_front.jpg) 0 0 no-repeat;
}

.card2.flipped {
	background: url(../img/Athens_back.jpg) 0 0 no-repeat;
}

.card3 {
	background: url(../img/Beijing_front.jpg) 0 0 no-repeat;
}

.card3.flipped {
	background: url(../img/Beijing_back.jpg) 0 0 no-repeat;
}

.card4 {
	background: url(../img/Budapest_front.jpg) 0 0 no-repeat;
}

.card4.flipped {
	background: url(../img/Budapest_back.jpg) 0 0 no-repeat;
}

.card5 {
	background: url(../img/Cambridge_front.jpg) 0 0 no-repeat;
}

.card5.flipped {
	background: url(../img/Cambridge_back.jpg) 0 0 no-repeat;
}

.card6 {
	background: url(../img/Dallas_front.jpg) 0 0 no-repeat;
}

.card6.flipped {
	background: url(../img/Dallas_back.jpg) 0 0 no-repeat;
}

.card7 {
	background: url(../img/Dubai_front.jpg) 0 0 no-repeat;
}

.card7.flipped {
	background: url(../img/Dubai_back.jpg) 0 0 no-repeat;
}

.card8 {
	background: url(../img/Frankfurt_front.jpg) 0 0 no-repeat;
}

.card8.flipped {
	background: url(../img/Frankfurt_back.jpg) 0 0 no-repeat;
}

.card9 {
	background: url(../img/HongKong_front.jpg) 0 0 no-repeat;
}

.card9.flipped {
	background: url(../img/HongKong_back.jpg) 0 0 no-repeat;
}

.card10 {
	background: url(../img/Istanbul_front.jpg) 0 0 no-repeat;
}

.card10.flipped {
	background: url(../img/Istanbul_back.jpg) 0 0 no-repeat;
}

.card11 {
	background: url(../img/Johannesburg_front.jpg) 0 0 no-repeat;
}

.card11.flipped {
	background: url(../img/Johannesburg_back.jpg) 0 0 no-repeat;
}

.card12 {
	background: url(../img/Lisbon_front.jpg) 0 0 no-repeat;
}

.card12.flipped {
	background: url(../img/Lisbon_back.jpg) 0 0 no-repeat;
}

.card13 {
	background: url(../img/London_front.jpg) 0 0 no-repeat;
}

.card13.flipped {
	background: url(../img/London_back.jpg) 0 0 no-repeat;
}

.card14 {
	background: url(../img/Luxembourg_front.jpg) 0 0 no-repeat;
}

.card14.flipped {
	background: url(../img/Luxembourg_back.jpg) 0 0 no-repeat;
}

.card15 {
	background: url(../img/Madrid_front.jpg) 0 0 no-repeat;
}

.card15.flipped {
	background: url(../img/Madrid_back.jpg) 0 0 no-repeat;
}

.card16 {
	background: url(../img/McLean_front.jpg) 0 0 no-repeat;
}

.card16.flipped {
	background: url(../img/McLean_back.jpg) 0 0 no-repeat;
}

.card17 {
	background: url(../img/MexicoCity_front.jpg) 0 0 no-repeat;
}

.card17.flipped {
	background: url(../img/MexicoCity_back.jpg) 0 0 no-repeat;
}

.card18 {
	background: url(../img/Milan_front.jpg) 0 0 no-repeat;
}

.card18.flipped {
	background: url(../img/Milan_back.jpg) 0 0 no-repeat;
}

.card19 {
	background: url(../img/Moscow_front.jpg) 0 0 no-repeat;
}

.card19.flipped {
	background: url(../img/Moscow_back.jpg) 0 0 no-repeat;
}

.card20 {
	background: url(../img/NewDelhi_front.jpg) 0 0 no-repeat;
}

.card20.flipped {
	background: url(../img/NewDelhi_back.jpg) 0 0 no-repeat;
}

.card21 {
	background: url(../img/NewYork_front.jpg) 0 0 no-repeat;
}

.card21.flipped {
	background: url(../img/NewYork_back.jpg) 0 0 no-repeat;
}

.card22 {
	background: url(../img/Paris_front.jpg) 0 0 no-repeat;
}

.card22.flipped {
	background: url(../img/Paris_back.jpg) 0 0 no-repeat;
}

.card23 {
	background: url(../img/SanFrancisco_front.jpg) 0 0 no-repeat;
}

.card23.flipped {
	background: url(../img/SanFrancisco_back.jpg) 0 0 no-repeat;
}

.card24 {
	background: url(../img/SaoPaulo_front.jpg) 0 0 no-repeat;
}

.card24.flipped {
	background: url(../img/SaoPaulo_back.jpg) 0 0 no-repeat;
}

.card25 {
	background: url(../img/Seoul_front.jpg) 0 0 no-repeat;
}

.card25.flipped {
	background: url(../img/Seoul_back.jpg) 0 0 no-repeat;
}

.card26 {
	background: url(../img/Singapore_front.jpg) 0 0 no-repeat;
}

.card26.flipped {
	background: url(../img/Singapore_back.jpg) 0 0 no-repeat;
}

.card27 {
	background: url(../img/Sydney_front.jpg) 0 0 no-repeat;
}

.card27.flipped {
	background: url(../img/Sydney_back.jpg) 0 0 no-repeat;
}

.card28 {
	background: url(../img/TelAviv_front.jpg) 0 0 no-repeat;
}

.card28.flipped {
	background: url(../img/TelAviv_back.jpg) 0 0 no-repeat;
}

.card29 {
	background: url(../img/Tokyo_front.jpg) 0 0 no-repeat;
}

.card29.flipped {
	background: url(../img/Tokyo_back.jpg) 0 0 no-repeat;
}

.card30 {
	background: url(../img/Toronto_front.jpg) 0 0 no-repeat;
}

.card30.flipped {
	background: url(../img/Toronto_back.jpg) 0 0 no-repeat;
}

.card31 {
	background: url(../img/Vienna_front.jpg) 0 0 no-repeat;
}

.card31.flipped {
	background: url(../img/Vienna_back.jpg) 0 0 no-repeat;
}

.card32 {
	background: url(../img/Warsaw_front.jpg) 0 0 no-repeat;
}

.card32.flipped {
	background: url(../img/Warsaw_back.jpg) 0 0 no-repeat;
}

.card33 {
	background: url(../img/Zurich_front.jpg) 0 0 no-repeat;
}

.card33.flipped {
	background: url(../img/Zurich_back.jpg) 0 0 no-repeat;
}