html, body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

#card {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 700px;
	height: 600px;
	position: relative;
}

img {
	opacity: 0;
	position: absolute;
	text-decoration: none;
	border: 0px;
}

#ie-gif {
	opacity: 1;
}

#logo {
	opacity: 1;
	bottom: 24px;
	right: 0;
}

#replay {
	opacity: 1;
	display: none;
	bottom: 24px;
	left: 0;
}

#background {
	opacity: 1;
}

.square, .square-inactive {
	opacity: 0;
	width: 16px;
	height: 16px;
	position: absolute;
	
}

#gray-squares {
	opacity: 0;
}

.gray-square {
	width: 16px;
	height: 16px;
	position: absolute;
	background-color: #dddddd;
}

.coordinates {
	margin-left: 3px;
	color: #003b5c;
	width: 0;
	height: 16px;
	overflow: hidden;
	font-weight: normal;
}

.yellow-city {
	position: absolute;
	margin-left: 3px;
	opacity: 0;
	font-weight: bold;
	cursor: default;
}

.green-city {
	position: absolute;
	margin-left: 3px;
	opacity: 0;
	font-weight: bold;
	top: 40px;
	cursor: default;
}

.blue-city {
	position: absolute;
	margin-left: 3px;
	opacity: 0;
	font-weight: bold;
	top: 80px;
	cursor: default;
}

.yellow {
	background-color: #ffcd3b;
	cursor: pointer;
}

.green {
	background-color: #a5d25f;
	cursor: pointer;
}

.blue {
	background-color: #9bddf8;
	cursor: pointer;
}

/* GRAY SQUARES */
#gray1 {
	top: 28px;
	left: 54px;
}

#gray2 {
	top: 76px;
	left: 102px;
}

#gray3 {
	top: 140px;
	left: 150px;
}

#gray4 {
	top: 188px;
	left: 102px;
}

#gray6 {
	top: 252px;
	left: 54px;
}

#gray7 {
	top: 284px;
	left: 86px;
}

#gray8 {
	top: 348px;
	left: 70px;
}

#gray9 {
	top: 348px;
	left: 118px;
}

#gray10 {
	top: 412px;
	left: 70px;
}

#gray11 {
	top: 412px;
	left: 102px;
}

#gray12 {
	top: 444px;
	left: 150px;
}

#gray13 {
	top: 492px;
	left: 102px;
}

#gray14 {
	top: 492px;
	left: 294px;
}

#gray15 {
	top: 492px;
	left: 326px;
}

#gray16 {
	top: 60px;
	left: 294px;
}

#gray17 {
	top: 554px;
	left: 246px;
}

#gray18 {
	top: 92px;
	left: 390px;
}

#gray19 {
	top: 44px;
	left: 518px;
}

#gray20 {
	top: 28px;
	left: 550px;
}

#gray21 {
	top: 92px;
	left: 550px;
}

#gray22 {
	top: 156px;
	left: 662px;
}

#gray23 {
	top: 220px;
	left: 630px;
}

#gray24 {
	top: 316px;
	left: 630px;
}

#gray25 {
	top: 380px;
	left: 598px;
}

#gray26 {
	top: 396px;
	left: 566px;
}

#gray27 {
	top: 444px;
	left: 662px;
}

#gray28 {
	top: 524px;
	left: 470px;
}

/* YELLOW CITIES */
#london-square, #london-name {
	top: 108px;
	left: 38px;
}

#amsterdam-square, #amsterdam-name {
	top: 28px;
	left: 310px;
}

#frankfurt-square, #frankfurt-name {
	top: 124px;
	left: 486px;
}

#paris-square, #paris-name {
	top: 348px;
	left: 6px;
}

#zurich-square, #zurich-name {
	top: 252px;
	left: 550px;
}

#telaviv-square, #telaviv-name {
	top: 492px;
	left: 454px;
}

/* GREEN CITIES */
#newyork-square, #newyork-name {
	top: 140px;
	left: 22px;
}

#toronto-square, #toronto-name {
	top: 60px;
	left: 6px;
}

#cambridge-square, #cambridge-name {
	top: 172px;
	left: 518px;
}

#sanfrancisco-square, #sanfrancisco-name {
	top: 412px;
	left: 6px;
}

#dallas-square, #dallas-name {
	top: 460px;
	left: 502px;
}

#mclean-square, #mclean-name {
	top: 348px;
	left: 534px;
}

/* BLUE CITIES */
#beijing-square, #beijing-name {
	top: 60px;
	left: 422px;
}

#singapore-square, #singapore-name {
	top: 444px;
	left: 38px;
}

#newdelhi-square, #newdelhi-name {
	top: 316px;
	left: 534px;
}

#sydney-square, #sydney-name {
	top: 524px;
	left: 134px;
}

#message {
	display: none;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	top: 200px;
	left: 160px;
}

#copyright {
	position: absolute;
	bottom: -35px;
	left: 0;
	font-size: 12px;
	color: #888888;
}
